
$Butler: 'Butler',sans-serif;

$active: #fb0909;
$def: #212121;
$ac: #fcd7b6;
$blue: #4933f2;
$black:#000000;
$black1: #646464;
$green:#14B4BE;

/*$ac: #fcd7b6;

/*accent*/
/*
$antique:#fde7d3;
$default: #243f4d;
$title: #436372;
$Cream: #feefe2;
$Crayola: #c2d2db;
$red: #e72828;
$red1 :#fe3e57;
$orange: #ffa500;
*/